<!DOCTYPE html>
<html lang="en-Us" dir="ltr">
	
	<head>
		<meta charset="UTF-8">
		<title>Web CV - Kroshchenko Mykyta</title>
		<link type="image/x-icon" href="image/favicon.ico">
	</head>
<body>
<!--This page is created for "Introduction to HTML" training course-->
<header>
<h1>Web CV - Kroshchenko Mykyta</h1>
<aside>
<h2>095-224-77-97</h2>
<h2>095-224-77-87</h2>
<h2>095-224-77-05</h2>
<h2>095-224-77-98</h2>
<h2>095-224-77-13</h2>
</aside>
</header>
	<main>
		<section><h2>Summary</h2>
		<p>Project Manager. Target / CEO</p>
		<p>Expert, friendly, always here to help in any professional task</p>
		</section>
		
	<section><h2>Education</h2>
	<p>Graduated from high school with honors hfssed the exams with the highest marks to enter university.</p>
	<p>Studied programming at courses by myself and also studied Python and C++, in the university studied cybersecurity</p>
	</section>
		
		<section><h2>Work Experience</h2>
		<p>worked on developing cyber security for my home devices and also worked as frilance programmer (writing web-sites ect)</p>
		</section>
	</main>
</body>
<footer>&copy; My Copyright</footer>

</html>